*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}
.carte-avis {
    background-color: #333;
    color: #fff;
    width: 50%;
    margin: 0 auto;
}

.card {
    margin-top: 20px;
    padding: 10px;
}

@media only screen and (max-width: 900px) {
    .carte-avis {
        width: 70%;
    }
}

@media only screen and (max-width: 500px) {
    .carte-avis {
        width: 80%;
    }
}

@media only screen and (max-width: 380px) {
    .carte-avis {
        width: 90%;
    }
}

@media only screen and (max-width: 320px) {
    .carte-avis {
        width: 100%;
    }
}