@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Lobster&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.create-avis {
    height: 100vh;
    text-align: center;
}

form {
    margin-top: 300px;
    text-align: center;
}

form .formulaire-input {
    width: 6.6%;
    border-radius: 100px;
    border: 1px solid #333;
    outline: none;
    padding: 10px;
    font-size: 25px;
    transition: all 0.4s ease-in-out;
    font-family: 'Acme', sans-serif;
    color: #333;
}

form .formulaire-input:focus {
    width: 30%;
    border: 1px solid lime;
}

form h1 {
    font-family: 'Lobster', cursive;
    color: #000;
}

form .btn {
    font-size: 25px;
    border-radius: 100px;
    font-family: 'Acme', sans-serif;
}

