@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  text-align: center;
}

/* News */
#news {
  background: linear-gradient(101deg,rgb(255,116,38),rgb(249,58,19));
  color: #fff;
  text-align: center;
  padding-bottom: 0.1px;
  font-family: 'Pacifico', cursive;
}

#news p {
  font-size: 20px;
}

#news #close {
  margin-top: -37px;
  font-size: 30px;
  margin-left: 48%;
  position: absolute;
  cursor: pointer;
  background: #fff;
  width: 30px;
  color: red;
  border-radius: 9999px;
}

/* News bannière fermé */
.news-closed {
  display: none;
}

/* Navbar */
.navigation nav {
  background: dodgerblue;
  text-align: center;
  padding: 57px;
  position: fixed;
  width: 100%;
  color: #fff;
  position: absolute;
}

.navigation #abLogo {
  margin-top: -14px;
}

@keyframes slidein {
  from {
    margin-left: 50%;
    width: 50%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#guide-icon {
  font-size: 35px;
  color: #fff;
  float: right;
  margin-top: -60px;
}

/* .navigation h1 {
  font-size: 55px;
} */

/* Contenu principale */
.container-page {
  text-align: center;
}

#linkA {
  transition: all 0.2s ease-out;
}

.container-page #linkA:hover {
  color: #fff;
  text-decoration: none;
}

.container-page #linkA:active {
  color: rgb(200,116,38);
}

.container-page .nouvelles {
  font-family: 'Reggae One', cursive;
  color: dodgerblue;
}

main {
  background: #333;
  color: #fff;
  padding: 30px;
  margin-top: 187px;
  position: absolute;
}

.addBot {
  font-size: 35px;
  border-radius: 10px;
  background: linear-gradient(101deg,rgb(255,116,38),rgb(249,58,19));
  color: #fff;
  font-weight: bold;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  transition: all 0.3s ease-out;
}

.addBot:hover {
  color: #fff;
  font-size: 38px;
}

.addBot:active {
  background: linear-gradient(101deg,rgb(200,116,38),rgb(200,58,19));
}

 
/* Pied de page */
footer .footer-container {
  background: white;
  position: absolute;
  margin-top: 452px;
  width: 100%;
  padding-top: 123px;
  height: 51vh;
  text-align: center;
}

footer #item {
  list-style-type: none;
  text-decoration: none;
  color: grey;
}

footer a {
  transition: all 0.3s ease-out;
}

/* #item:hover {
  font-size: 25px;
  transition: all 0.6s ease-out;
  cursor: pointer;
  color: black;
} */

footer a:hover {
  font-size: 25px;
  transition: all 0.6s ease-out;
  cursor: pointer;
  color: #000;
}

.survole a{
  width: auto;
  height: auto;
  color: #000;
  transition: all 0.6s ease;
}

@media only screen and (max-width: 1639px) {
  #news #close {
    margin-left: 47%;
  }
}

@media only screen and (max-width: 1600px) {
  footer .footer-container {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 1487px) {
  main h3{
    font-size: 25px;
  }
}

@media only screen and (max-width: 1080px) {
  #news #close {
    margin-left: 46%;
  }
}

@media only screen and (max-width: 989px) {
  main h3 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 952px) {
  main h3 {
    font-size: 23px;
  }
}

@media only screen and (max-width: 914px) {
  main h3 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 877px) {
  main h3 {
    font-size: 21px;
  }
}

@media only screen and (max-width: 838px) {
  .addBot {
    font-size: 30px;
  }
  .addBot:hover {
    font-size: 32px;
  }
}

@media only screen and (max-width: 800px) {
  #news #close {
    margin-left: 45%;
  }
}

@media only screen and (max-width: 685px) {
  main h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 800px) {
  #news #close {
    margin-left: 44%;
  }
}

@media only screen and (max-width: 656px) {
  main h3 {
    font-size: 19px;
  }
}

@media only screen and (max-width: 626px) {
  main h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 540px) {
  #news #close {
    margin-left: 43%;
  }
}

@media only screen and (max-width: 532px) {
  main h3 {
    font-size: 17px;
  }
}

@media only screen and (max-width: 505px) {
  main h3 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {
  .navigation #abLogo {
    display: none;
  }

  .navigation #spanLogo::before {
    content: "AishBot";
    font-size: 50px;
    font-family: 'Reggae One', cursive;
  }
}

@media only screen and (max-width: 478px) {
  main h3 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 460px) {
  #news #close {
    margin-left: 42%;
  }
}

@media only screen and (max-width: 410px) {
  #news #close {
    margin-left: 41%;
  }
}

@media only screen and (max-width: 391px) {
  main h3 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 369px) {
  main h3 {
    font-size: 13px;
  }
}

@media only screen and (max-width: 350px) {
  #news #close {
    margin-left: 40%;
    font-size: 28px;
  }
}

@media only screen and (max-width: 319px) {
  .navigation #spanLogo {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 310px) {
  .navigation #spanLogo {
    margin-left: -4%;
  }
}

@media only screen and (max-width: 306px) {
  .addBot {
    font-size: 30px;
  }
}

@media only screen and (max-width: 302px) {
  .addBot {
    font-size: 20px;
  }

  .addBot:hover {
    font-size: 22px;
  }
}

@media only screen and (max-width: 300px) {
  .navigation #spanLogo {
    margin-left: -5%;
  }
}

@media only screen and (max-width: 294px) {
  main h3 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 290px) {
  .footer-container h1{
    font-size: 35px;
  }

  footer li a{
    font-size: 14px;
  }
}

@media only screen and (max-width: 280px) {
  .navigation #spanLogo {
    margin-left: -12%;
  }

  #news p {
    font-size: 15px;
  }

  #news #close {
    margin-left: 105px;
    margin-top: -33px;
  }
}
